.container {
    height: 92vh;
    width: 99.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

.box {
    width: 80%;
    max-height: 43%;
    padding: 29px;
    background-color: rgb(31 41 55 );
    border-radius: 11px;
    display: flex;
    justify-content: space-between;
    padding-right: 0;
    display: none;
}

.first {
    min-width: 40%;
    height: 100%;
}

.no {
    font-size: 2.2rem;
    font-weight: bolder;
    color: rgb(5 253 158);
}

.heading {
    font-size: 1.8rem;
    margin-bottom: 19px;
    font-weight: bold;
}

.text {
    margin-bottom: 19px;
    color: rgb(209 213 219 );
}

.tech {
    color: rgb(5 253 158);
    margin-bottom: 19px;
    font-weight: bold;
}

.btn button {
    padding: 12px 23px;
    border-radius: 8px;
    border: none;
    margin-right: 14px;
    background-color: rgb(55 65 81);
}

button:hover {
    cursor:pointer;
}
button:not(:nth-child(2)) {
    background-color: rgb(34 197 94);
}

.im {
    width: 45%;
    height: 40%;
    padding-right: 20px;
}

.im img {
    height: 100%;
    max-width: 100%;
    border-radius: 8px;
}
.port {
    height: 40px;
}
.show {
    display: flex;
}
.hidden {
    display: none;
}

.arr {
    margin: 10px;
    padding: 13px 18px;
    border-radius: 46%;
    border: none;
}
.arr:hover {
    cursor: pointer;
}

@media screen and (max-width:767px) {

    .box {
        width: 100%;
        max-height: 80%;
        flex-direction: column;
        /* justify-content: center; */
        /* align-items: center; */
        margin: 30px;
        padding-left: 0;
    }
    .btn {

        display: flex;
    }
    .container {
        /* justify-content: left; */
    }
    .first {
        width: 100%;
        height: 49%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .im {
        height: 70%;
        width: 100%;
        padding: 10px;
    }
    .im img {
        /* width: 100%;
        height: 100%; */
    }
}
